<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="../stylesheets/app.css"></link>
        <title> Own Application </title>
    </head>
    <body>
        
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/biografies">All Biografies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/biografies/new">Add New Biografy</a>
      </li>
      <% if(!logeado){ %>
      <li class="nav-item">
        <a class="nav-link " href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/login">LogIn</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link " href="/logout">LogOut</a>
      </li>
      <li class="nav-item">
        <a> <%= logeado.username %></a>
      </li>
      
      <% } %>
    </ul>
    
    <div class="container">
      
      <% if(errors && errors.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= errors %>
        </div>
      <% } %>
      
      <% if(successes && successes.length > 0){ %>
        <div class="alert alert-success" role="alert">
          <%= successes %>
        </div>
      <% } %>
      
      <% if(errores && errores.length > 0){ %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% errores.forEach(function(element){ %>
              
                <li><%= element.msg %></li>
              
              
            <% }); %>
          </ul>
          
        </div>
      <% } %>
      
    
    </div>