.delete {
    display: inline;
}

.textcenter {
    text-align: center;
}

#formCenter {
    width: 30%;
}

#addComment {
    display: inline,
}

#foot {
    margin-top: 200px;
    text-align: center;
}

form {
    margin-top: 75px;
}

#map {
    height: 400px;
    width: 100%;
}